@page "/aboutgame"

<PageTitle>در مورد بازی</PageTitle>

<RadzenText Style="font-family:'Far_Morvarid'; font-size:1.3rem; line-height:1.8; color:#222;">
    <h3>راهنمای بازی شیاد</h3>

    <strong>هدف بازی:</strong><br />
    یکی از بازیکنان نقش <strong>شیاد</strong> دارد و کلمه‌ی بازیکنان دیگر را نمی‌داند. هدف شیاد این است که هویت خود را مخفی نگه دارد و بازیکنان دیگر سعی می‌کنند شیاد را شناسایی کنند.

    <br /><br />
    <strong>شروع بازی:</strong><br />
    1. یک بازی کن نام بازیکن ها را وارد کرده و یک آواتار انتخاب می‌کند.<br />
    2. وقتی همه بازیکنان آماده شدند (حداقل ۳ نفر)، بازی با زدن دکمه سبز شروع می‌شود.

    <br /><br />
    <strong>مراحل بازی:</strong><br />
    1. بازیکنان به ترتیب کارت خود را مشاهده می‌کنند.<br />
    - بازیکنان غیرشیاد، یک کلمه (مثل 🍎 سیب یا 🚗 ماشین) می‌بینند.<br />
    - شیاد هیچ کلمه‌ای دریافت نمی‌کند.<br />
    2. پس از دیدن کارت، بازیکن دستگاه یا گوشی را به نفر بعدی می‌دهد.<br />
    3. بازیکنان غیرشیاد **نباید کلمه اصلی خود را به زبان بیاورند** و فقط می‌توانند به کلمات مرتبط با آن اشاره کنند.<br />
    مثال: اگر کلمه «خورشید» باشد، بازیکن اول می‌تواند بگوید «زرد»، بازیکن دوم «آتش» و …<br />
    4. شیاد باید با دقت گوش کند و حدس بزند کلمه اصلی چیست.<br />
   

    <br />
    <strong>هدف بازیکنان:</strong><br />
    - <strong>شیاد:</strong> سعی کنید خود را شناسایی نشده نگه دارید و در پایان حدس بزنید کلمه اصلی چیست.<br />
    - <strong>بازیکنان غیرشیاد:</strong> با ارائه کلمات مرتبط، سعی کنید به دیگران کمک کنید بدون اینکه کلمه اصلی را فاش کنید.

    <br /><br />
    <strong>پایان بازی و قوانین شیاد:</strong><br />
    - وقتی زمان بازی تمام شد، بازیکنان **با رای‌گیری** باید شیاد را انتخاب کنند.<br />
    - اگر شیاد قبل از پایان بازی توانست کلمه اصلی را درست را پیدا کند, می‌گوید «من شیاد هستم و کلمه [کلمه اصلی] بود» و شیاد برنده می‌شود.<br />
    - اگر شیاد نتواند کلمه اصلی را حدس بزند، و بازیکنان با رای‌گیری شیاد را درست شناسایی کنند، بازیکنان غیرشیاد برنده می‌شوند.

    <br />
    <strong>نکات مهم:</strong><br />
    - کارت خود را فقط به صورت خصوصی ببینید.<br />
    - بازیکنان غیرشیاد هرگز کلمه اصلی خود را فاش نکنند.<br />
</RadzenText>

@code {
    // فعلا نیازی به کد خاصی نیست
}
