

<RadzenStack Orientation="Orientation.Vertical"
             AlignItems="AlignItems.Center"
             JustifyContent="JustifyContent.Start"
             Wrap="FlexWrap.Wrap"
             class="avatar-scroll">

    @foreach (var avatar in Avatars)
    {
        <div class="avatar-item" @onclick="() => SelectAvatarFunc(avatar)">
            <div>
                @avatar
            </div>
            <img src="@avatar" alt="Avatar" />
        </div>
    }
</RadzenStack>